## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [3]:
import pandas as pd
import numpy as np

In [7]:
country = ['Taiwan','United States','Thailand']
population = np.random.randint(30000000,700000000, 3)
list_labels = ['國家','人口']
list_cols = [country,population]
zipped = list(zip(list_labels, list_cols))

data = pd.DataFrame(dict(zipped))
print(data)

              國家         人口
0         Taiwan  208043816
1  United States  155991484
2       Thailand  299635543

In [8]:
data.nlargest(1,'人口')

         國家         人口
2  Thailand  299635543